# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_ANON_KEY=
SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_JWT_SECRET=

# Database
DATABASE_URL=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_PRISMA_URL=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Auth
JWT_SECRET=

# App
SITE_URL=

# SMTP
SMTP_EMAIL=
SMTP_PASSWORD=

# AI Gateway
AI_GATEWAY_API_KEY=

# Vercel
VERCEL_WEB_ANALYTICS_ID=
VERCEL_OIDC_TOKEN=
V0_RUNTIME_URL=
V0_CALLBACK_URL=
NEXT_PUBLIC_DEV_SUPABASE_REDIRECT_URL=
